.article--1 {

    height: 778px;
    background-image: url("../img/Sección1/DEMUESTRATUVALOR.png");

    .button {

        // align-self: flex-end;
        margin-top: 524px;
        width: 200px;
        height: 64px;
        font-size: 20px;
        margin-left: 68px;
    }
    h1 {

        width: 416px;
    }

    p {

    width: 430px;

    }
}
