.article--2 {

    height: 1069px;
    background-image: url("../img/Section2/Section2_Background.png");  
    

    .character{
        width: 400px;
        margin-left: 100px;
        align-self: center;

        &__info{
            width: 530px;
            display: flex;
            flex-direction: column;

            margin-left: 150px;
        }

        &__button{
            width: 100%;
            display: flex;
            color: $white;
            justify-content: space-between;
            margin-top: 100px;
            input{
                width: 100px;
            }
        }
    }
    h1 {
        width: 406px;
    }
    
 
    p {
        width: 440px;
    }

    h2 {
        font-family: "Tungsten Bold";
        font-size: 36px;
        line-height: 83%;
    }
}


