.article--2 {

    height: 1069px;
    width: 1366px;
    background-image: url("../img/Section2/Section2_Background.png");


    h1 {

        width: 406px;
        margin-left: 737px;
    }
    
 
    p {

        width: 440px;
        margin-left: 737px;
    }

    
}
