.article--3 {
    height: 1280px;
    width: 1366px;
    background-image: url("../img/Section3/Section3_Background.png");
    display: flex;
    flex-direction: column;
    p {
        width: 327px;
    }
    h1 {
        width: 406px;
    }
    h2 {
        font-family: "Tungsten Bold";
        font-size: 64px;
        color: $white;
    }
    .mode {
        display: flex;
        section {
            width: 414px;
            &:nth-child(2n) {
                width: 525px;
                margin: 0px -86px;
                z-index: 1;
            }
        }
    }
}