.article--3 {
    height: 1280px;
    background-image: url("../img/Section3/Section3_Background.png");
    display: flex;
    flex-direction: column;
    p {
        width: 327px;
    }
    h1 {
        margin: 120px 0px -11px 0px;
        width: 406px;
    }
    h2 {
        font-family: "Tungsten Bold";
        font-size: 64px;
        color: $white;
    }
    .mode {
        display: flex;
        &--spike{
            margin-top: 195px;
        }
        &--ranked{
            width: 525px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-left: -86px;
            z-index: 1;
        }
        &--death{
            flex-direction: column;
            text-align: right;
            margin-left: -86px;
            margin-top: 195px;

            p{
                margin-left: 87px;
            }

        }
    }
}

@media screen and (max-width: 400px) {
    .article--3{
        
        .mode{
            width: 100%;
           // overflow: hidden;
            flex-direction: column;
            margin: 0px;

            h1{

            }

            p{
                width: 100%;
                text-align: center;
                font-size: $p_size_mobile;
            }

            img{
                width: 100%;
            }

            &--ranked{
                width: 100%;
                margin: 0px;
            }

            &--death{
                margin: 0px;
                p{
                    margin: 0px;
                }
            }
        }
    }
}