.menu {

    display: flex;
    align-items: center;
    height: 60px;
    background: $black;
    justify-content: space-between;
    padding: 0 40px;

   

    ul li { 

        display: flex; 
        color: $white;
        float: left;  
        font-family: Poppins, sans-serif;
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 $spacing;
      
    }

    &__login {

        display: flex;
        align-items: center;
       
    
       p {
           font-family: Poppins, sans-serif;
           font-weight: bold;
           font-size: 10px;
           text-transform: uppercase;
           color: $white;
           margin: 0 $spacing;
       }

       hr {

        height: 30px;
        margin: 0px $spacing;

       }
    } 
}

.banner{
    display: flex;
    align-items: center;
    height: 501px;
    background-image: url("../img/Header/HeaderImage2.png");
    color: $white;
    padding-left: 83px;

    &__info{
        display: flex;
        flex-direction: column;
        h1{
            width: 400px;
            font-family: "Tungsten Bold";
            font-size: 120px;
            line-height: 83%;
            margin: 0px;
        }
        p{
            width: 563px;
            font-family: Poppins, sans-serif;
            font-weight: 300;
            font-size: $p_size;
        }

        button{
            width: 220px;
            height: 60px;
            font-size: 15px;
            margin: 0px;
        }
    }
}