.button {
    background-color: $red;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    color: $white;
    border: 0;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 $spacing;

} 