.cart {
  font-family: $tungsten;
  color: $white;

  h1{
    font-weight: bold;
    font-size: 144px;
    margin: 72px 0px;
    margin-top: 0px;
  }

  h3{
    font-size: 24px;
  }

  section{
    display: flex;
    flex-direction: column;
  }

  a{
    align-self: center;
    cursor: pointer;
  }

  &--filter {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-family: $poppins;
      font-size: 18px;
      color: $white;
      margin: 0;
    }
  }

  &__info{
    width: 700px;
    display: flex;
    justify-content: space-between;
  }
}
