.footer {

    width: 1366px;
    height: 400px;
    background-color: $black;

    h1 {

        width: 406px;
        margin-left: 133px;
        margin-top: 127px;
        
    }
    
 
    p {

        width: 370px;
        margin-left: 133px;
        
    }
}