.footer {
    width: 1366px;
    height: 400px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: $black;
    color: $white;

    h1 {
        margin: 20px 0px;
        font-family: "Tungsten Bold";
        font-size: $footer_title_size;
    }
    p {
        width: 370px;
        font-family: Poppins, sans-serif;
        font-size: $footer_p_size;
    }

    &__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__socialMedia{
        p{
            width: 150px;
        }

        img{
            margin-right: 10px;
        }

        div{
            display: flex;
            align-items: center;
        }
    }

    &__about{
        div{
            display: flex;
            justify-content: space-between;
            padding-right: 30px;
            p{
                width: 150px;
            }
        }
    }

    &__classification{
        width: 300px;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                width: 200px;
            }
        }

    }
}