.footer {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

    background-color: $black;
    color: $white;

    h1 {
        margin: 20px 0px;
        font-family: "Tungsten Bold";
        font-size: $footer_title_size;
    }
    p {
        width: 370px;
        font-family: Poppins, sans-serif;
        font-size: $footer_p_size;
    }

    &__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__socialMedia{
        p{
            width: 150px;
        }

        img{
            margin-right: 10px;
        }

        div{
            display: flex;
            align-items: center;
        }
    }

    &__about{

        div{
            display: flex;
            justify-content: space-between;
            padding-right: 30px;
            p{
                width: 150px;
            }

            
        }
    }

    &__classification{
        width: 300px;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                width: 200px;
            }
        }

    }
}

@media screen and (max-width: 400px) {
    .footer{
        width: 335px;
        height: 300px;
        flex-direction: row;
        flex-wrap: wrap;

        padding: 20px;

        h1{
            font-size: 18px;
        }

        p{
            font-size: 10px;
        }

        section{
            margin: 0px;
            div{
                margin: 0px;
               // width: 190px;
            }
        }

        &__logo{
            flex-direction: row;
            justify-content: space-around;

            img{
                width: 94px;
            }

            p{
                width: 195px;
            }
        }

        &__socialMedia{
            p{
                width: 120px;
            }
            
            div{
                margin: 0px;
                width: 160px;
                flex-direction: row;
                flex-wrap: wrap;
                div{
                    margin: 0px; 
                }
            }
        }

        &__about{
            display: none;
        }

        &__classification{
            width: 140px;

            img{
                width: 55px;
                margin-right: 10px;
            }

            
            div{
                width: 140px;

                p{
                    width: 76px;
                }
            }
        }
    }
}