main {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 72px 0px;
  article {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1004px;
    height: 115px;

    .filters {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-family: $poppins;
        font-size: 24px;
        color: $white;
      }
      div {
        display: flex;
        width: 380px;
        justify-content: space-between;

        select {
          font-family: $poppins;
          font-size: 18px;

          background-color: transparent;
          border: none;
          color: $white;
          outline: none;

          option {
            background-color: $blue;
            font-size: 16px;
          }
        }
      }
    }
  }

  .container {
    width: 1000px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 53px;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background-color: $white;
    border-radius: 2px;
    margin-bottom: 23px;

    h2 {
      font-family: $tungsten;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;

      color: #101823;
    }

    p{
      font-family: $poppins;
      font-size: 14px;
      color: #101823;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        font-weight: bold;
        margin-left: 8px;
      }

      strong{
        font-size: 20px;
      }
    }
  }
}
