//@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://db.onlinewebfonts.com/c/561f38b1f4570de0fb8a39d691ab058c?family=Tungsten+Bold');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
// Colors.
$red: #FF4654;
$blue: #101823;
$black: #060606;
$white:#FFFFFF;
$spacing: 15px;
$title_size: 96px;
$title_size_mobile: 36px;
$p_size: 19px;
$p_size_mobile: 13px;
$footer_title_size: 48px;
$footer_p_size: 12px;
body {
    background-color: $blue;
    min-width: 375px;
    max-width: 1366px;
}

.article {
    display: flex;
    flex-direction: row;
    min-width: 295px;
    max-width: 1283px;
    padding-left: 83px;

    h1 {
        font-family: "Tungsten Bold";
        font-size: $title_size;
        color: $white;
        line-height: 83%;
    }

    p {
        font-family: Poppins, sans-serif;
        font-weight: 300;
        font-size: $p_size;
        color: $white;
        strong {
            font-family: Poppins, sans-serif;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 400px) {
    .article{
        flex-direction: column;
        padding: 0px 40px;
        h1{
            font-size: $title_size_mobile;
        }
        p{
            font-size: $p_size_mobile;
        }
    }
  }

@import 'buttons';
@import 'banner';
@import 'article1';
@import 'article2';
@import 'article3';
@import 'article4';
@import 'footer';