@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@font-face {
  font-family: "Tungsten Bold";
  src: url("../font/tungsten.woff2") format("woff2");
}

body {
  background-color: #101823;
  min-width: 375px;
}

body a {
  text-decoration: none;
  color: #f9f9f9;
}

body a :visited {
  text-decoration: none;
}

.userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #f9f9f9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userinfo img {
  margin-left: 16px;
}

.userinfo .logout {
  margin-left: 16px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 295px;
  max-width: 1283px;
  padding-left: 83px;
}

.article h1 {
  font-family: "Tungsten Bold";
  font-size: 96px;
  color: #f9f9f9;
  line-height: 83%;
}

.article p {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: #f9f9f9;
}

.article p strong {
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 400px) {
  .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 40px;
  }
  .article h1 {
    font-size: 36px;
  }
  .article p {
    font-size: 13px;
  }
}

.button {
  background-color: #ff4654;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  color: #f9f9f9;
  border: 0;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0 15px;
  cursor: pointer;
}

.button--form {
  width: 204px;
  height: 52px;
  font-size: 14px;
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  margin-bottom: 16px;
}

.button--cart {
  background-color: transparent;
  border: 1px solid #f9f9f9;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  background: #060606;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  margin: 0;
}

.menu section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu section h2 {
  font-family: "Tungsten Bold";
  font-size: 24px;
  color: #f9f9f9;
}

.menu section hr {
  margin: 0px 40px;
  height: 30px;
}

.menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f9f9f9;
  float: left;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 15px;
}

.menu__title {
  display: none;
}

.menu__hamburguer {
  display: none;
}

.menu__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__login p {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  color: #f9f9f9;
  margin: 0 15px;
}

.menu__login hr {
  height: 30px;
  margin: 0px 15px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 501px;
  background-image: url("../img/Header/HeaderImage2.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #f9f9f9;
  padding-left: 83px;
}

.banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__info h1 {
  width: 400px;
  font-family: "Tungsten Bold";
  font-size: 120px;
  line-height: 83%;
  margin: 0px;
}

.banner__info p {
  width: 563px;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 19px;
}

.banner__info button {
  width: 220px;
  height: 60px;
  font-size: 15px;
  margin: 0px;
}

.banner__info--hidden {
  display: none;
}

@media screen and (max-width: 400px) {
  .menu {
    padding: 0 20px;
  }
  .menu ul {
    display: none;
  }
  .menu__logo {
    width: 23px;
  }
  .menu__login {
    display: none;
  }
  .menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 77px;
  }
  .menu__hamburguer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 200px;
    padding: 0px 40px;
    text-align: center;
  }
  .banner h1 {
    width: 200px;
    font-size: 36px;
  }
  .banner p {
    width: 200px;
    font-size: 10px;
  }
  .banner .button {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
  .banner__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.article--1 {
  height: 778px;
  background-image: url("../img/Section1/DEMUESTRATUVALOR.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.article--1 .button {
  margin-top: 524px;
  width: 200px;
  height: 64px;
  font-size: 20px;
  margin-left: 68px;
}

.article--1 h1 {
  width: 416px;
}

.article--1 p {
  width: 430px;
}

@media screen and (max-width: 400px) {
  .article--1 {
    height: 440px;
  }
  .article--1 p {
    width: 180px;
    margin: 0px;
  }
  .article--1 .button {
    width: 140px;
    height: 50px;
    margin: 50px 0px;
    font-size: 12px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .article--1 img {
    width: 171px;
    margin-top: -400px;
    margin-left: 150px;
  }
}

.article--2 {
  height: 1069px;
  background-image: url("../img/Section2/Section2_Background.png");
}

.article--2 .character {
  width: 400px;
  margin-left: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.article--2 .character__info {
  width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 150px;
}

.article--2 .character__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f9f9f9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.article--2 .character__button input {
  width: 100px;
}

.article--2 h1 {
  width: 406px;
}

.article--2 p {
  width: 440px;
}

.article--2 h2 {
  font-family: "Tungsten Bold";
  font-size: 36px;
  line-height: 83%;
}

@media screen and (max-width: 400px) {
  .article--2 {
    height: 500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .article--2 .character {
    width: 118px;
    margin: 0px;
  }
  .article--2 .character__info {
    width: 144px;
    margin: 0px;
  }
  .article--2 .character__info h1 {
    width: 100%;
  }
  .article--2 .character__info p {
    width: 100%;
    height: 100px;
    overflow: hidden;
    font-size: 13px;
  }
  .article--2 .character__button {
    width: 100%;
    margin-top: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article--2 .character__button input {
    width: 50px;
  }
  .article--2 .character__button h2 {
    font-size: 18px;
  }
}

.article--3 {
  height: 1280px;
  background-image: url("../img/Section3/Section3_Background.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article--3 p {
  width: 327px;
}

.article--3 h1 {
  margin: 120px 0px -11px 0px;
  width: 406px;
}

.article--3 h2 {
  font-family: "Tungsten Bold";
  font-size: 64px;
  color: #f9f9f9;
}

.article--3 .mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article--3 .mode--spike {
  margin-top: 195px;
}

.article--3 .mode--ranked {
  width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: -86px;
  z-index: 1;
}

.article--3 .mode--death {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  margin-left: -86px;
  margin-top: 195px;
}

.article--3 .mode--death p {
  margin-left: 87px;
}

@media screen and (max-width: 400px) {
  .article--3 {
    height: 1530px;
  }
  .article--3 h1 {
    margin: 0px;
    width: 100%;
    padding: 50px 0px;
  }
  .article--3 .mode {
    width: 100%;
    height: 1300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px;
  }
  .article--3 .mode h2 {
    font-size: 36px;
  }
  .article--3 .mode p {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
  .article--3 .mode img {
    width: 100%;
  }
  .article--3 .mode--spike {
    text-align: center;
    margin: 0px;
  }
  .article--3 .mode--ranked {
    width: 100%;
    margin: 0px;
  }
  .article--3 .mode--death {
    text-align: center;
    margin: 0px;
  }
  .article--3 .mode--death p {
    margin: 0px;
  }
}

.article--4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1000px;
  padding-right: 83px;
  background-image: url("../img/Section4/Section4_Background.png");
}

.article--4 img {
  width: 980px;
  margin-top: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 400px) {
  .article--4 {
    padding: 0px 40px;
    height: 400px;
  }
  .article--4 img {
    width: 315px;
  }
}

.footer {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #060606;
  color: #f9f9f9;
}

.footer h1 {
  margin: 20px 0px;
  font-family: "Tungsten Bold";
  font-size: 48px;
}

.footer p {
  width: 370px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__socialMedia p {
  width: 150px;
}

.footer__socialMedia img {
  margin-right: 10px;
}

.footer__socialMedia div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
}

.footer__about div p {
  width: 150px;
}

.footer__classification {
  width: 300px;
}

.footer__classification div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__classification div p {
  width: 200px;
}

@media screen and (max-width: 400px) {
  .footer {
    width: 335px;
    height: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .footer h1 {
    font-size: 18px;
  }
  .footer p {
    font-size: 10px;
  }
  .footer section {
    margin: 0px;
  }
  .footer section div {
    margin: 0px;
  }
  .footer__logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__logo img {
    width: 94px;
  }
  .footer__logo p {
    width: 195px;
  }
  .footer__socialMedia p {
    width: 120px;
  }
  .footer__socialMedia div {
    margin: 0px;
    width: 160px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__socialMedia div div {
    margin: 0px;
  }
  .footer__about {
    display: none;
  }
  .footer__classification {
    width: 140px;
  }
  .footer__classification img {
    width: 55px;
    margin-right: 10px;
  }
  .footer__classification div {
    width: 140px;
  }
  .footer__classification div p {
    width: 76px;
  }
}

main {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 72px 0px;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 1004px;
  height: 115px;
}

main article .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main article .filters h2 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  color: #f9f9f9;
}

main article .filters form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main article .filters form select {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: #f9f9f9;
  outline: none;
}

main article .filters form select option {
  background-color: #101823;
  font-size: 16px;
}

main .container {
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 53px;
}

main .card {
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  background-color: #f9f9f9;
  border-radius: 2px;
  margin-bottom: 23px;
  overflow: hidden;
}

main .card section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card a {
  text-decoration: none;
  color: #101823;
}

main .card h2 {
  font-family: "Tungsten Bold";
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #101823;
}

main .card p {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #101823;
}

main .card div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card div p {
  font-weight: bold;
  margin-left: 8px;
}

main .card div strong {
  font-size: 20px;
}

main .card__button {
  cursor: pointer;
}

.cart {
  font-family: "Tungsten Bold";
  color: #f9f9f9;
}

.cart h1 {
  font-weight: bold;
  font-size: 144px;
  margin: 72px 0px;
  margin-top: 0px;
}

.cart h3 {
  font-size: 24px;
}

.cart section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.cart--filter {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart--filter p {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: #f9f9f9;
  margin: 0;
}

.cart__info {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authentication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("/img/Backgrounds/background1.png");
  padding-top: 76px;
}

.authentication h1 {
  font-family: "Tungsten Bold";
  font-size: 144px;
  color: #f9f9f9;
}

.profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url("/img/Backgrounds/background2.png");
  padding: 0px 126px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.profile div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 40px;
  width: 452px;
  background-color: #f9f9f9;
  margin-bottom: 67px;
}

.profile button {
  margin-top: 24px;
}

.profile h1 {
  font-family: "Tungsten Bold";
  font-size: 96px;
  color: #f9f9f9;
  margin-top: 38px;
  margin-bottom: 64px;
}

.profile h3 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.profile p {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  color: #101823;
}

.profile p:nth-child(2n) {
  font-weight: bold;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f9f9f9;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: #101823;
  padding: 40px;
  width: 452px;
}

.form h3 {
  font-size: 24px;
  line-height: 24px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.form a {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #101823;
  text-align: center;
}

.form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.form div p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}

.form label {
  font-size: 12px;
  margin-bottom: 10px;
}

.form input {
  font-size: 16px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 1px solid #101823;
  margin-bottom: 28px;
}

.form input:focus {
  outline: none;
}

.form input[type="checkbox"] {
  width: 20px;
  margin-bottom: 0px;
  margin-right: 16px;
}

.form input[type="file"] {
  border-bottom: none;
}

.form--checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 979px;
  padding: 72px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form--checkout section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
  margin: 0px px;
}

.form--checkout div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.form--checkout div input {
  width: 135px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px;
}

.product button {
  width: 150px;
  height: 48px;
  font-size: 12px;
  margin: 0px;
  margin-top: 24px;
}

.product section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product h1 {
  font-family: "Tungsten Bold";
  font-size: 96px;
  color: #f9f9f9;
  line-height: 83%;
}

.product h2 {
  font-family: "Tungsten Bold";
  font-size: 64px;
  color: #f9f9f9;
  line-height: 83%;
}

.product p {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  color: #f9f9f9;
  margin: 0px;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.product__price img {
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: 10px;
}

.product__edition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__edition img {
  margin-right: 10px;
}

.product__carrousel {
  margin-right: 40px;
}

.product__info h2 {
  margin-top: 0px;
}

.product__sound {
  margin-top: 64px;
  width: 100%;
  height: 50px;
}

/**************************\
  Basic Modal Styles
\**************************/
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(16, 24, 35, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Tungsten Bold";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #101823;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Poppins, sans-serif;
  padding: 40px 0px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__content p {
  font-size: 15px;
  text-align: left;
}

/**************************\
    Demo Animation Style
  \**************************/
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */